@page
@model WebApplication1.Pages.Hodowc.IndexModel
@{
    ViewData["Title"] = "Hodowcy";
}
<h1>Hodowcy</h1>
<hr/>
<a asp-page="Create" class="btn btn-success">
    <span class="bi bi-plus"></span>
</a>
<table class="table table-responsive table-striped">
    <thead>
        <tr class="text-center">
            <th>@Html.DisplayNameFor(model=> model.Hodowca[0].IdHodowcy)</th>
            <th>@Html.DisplayNameFor(model=> model.Hodowca[0].Imie)</th>
            <th>@Html.DisplayNameFor(model=> model.Hodowca[0].Nazwisko)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hodowca in Model.Hodowca)
        {
            <tr class="text-center">
                <td>>@Html.DisplayFor(model => hodowca.IdHodowcy)</td>
                <td>>@Html.DisplayFor(model => hodowca.Imie)</td>
                <td>>@Html.DisplayFor(model => hodowca.Nazwisko)</td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@hodowca.IdHodowcy" class="btn btn-primary">
                        <span class="bi bi-pencil"></span>
                    </a>
                    <a asp-page="./Details" asp-route-id="@hodowca.IdHodowcy" class="btn btn-info">
                        <span class="bi bi-info-circle"></span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@hodowca.IdHodowcy" class="btn btn-danger">
                        <span class="bi bi-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tbody>

